<div class="login-button" style="background-color: black; text-align: right; padding-right: 15px;">
  <button mat-button color="warn" (click)="login()">Login</button>
  <button mat-button color="accent" (click)="Register()">Register</button>
    <!-- <button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button> -->
</div>

<div style="display: flex;justify-content: space-between;background-color: rgb(80, 3, 3); padding: 0px;">
  <div class="logo" style="color: aliceblue;">
    <img src="../../assets/images/kalari.jpg" alt="Logo">
    Lubaina kalari
  </div>
  <div class="labelDiv">
    <div class="label" routerLink="/"><a >HOME</a></div>
    <div class="label" routerLink="/about"> <a >ABOUT US</a></div>
    <div class="label" routerLink="/contact"><a >CONTACT</a></div>
  </div>
</div>