<a href="../../assets/images/home-page.jpg"></a>

<div id="home" class="section section_1" data-background="../../assets/images/home-page.jpg" data-height="865"
    data-background-mobile="../../assets/images/home-page.jpg"
    style="background-image: url(&quot;../../assets/images/home-page.jpg&quot;); min-height: 865px; display: block; position: relative; float: none;margin-top: 5pc;">
    <!-- <div class="define-kalari"> -->
        <div class="define-kalari" style="max-width: 800px; padding: 20px; color: #fff;">
        
        <h2>WELCOME TO KALARI GURUKULAM</h2>
        <p>Kalari Gurukulam is a training and research centre for the ancient martial art form of Kalaripayattu.This
            institution headed by Guru Ranjan Mullaratt is Dedicated to train, promote, encourage, and disseminate the
            art and science Kalaripayattu, it conducts training classes, conducts workshops, holds events and
            performances, and publishes study and research material about Kalaripayattu.

            Kalari Gurukulam conducts regular training classes and workshops, hold events and performances, and
            publishes study and research material about Kalaripayattu. It also provides Kalari and Marma treatments for
            orthopaedic and life style conditions. Kalari Gurukulam promotes and supports training schools in India as
            well as abroad.
        </p>
    </div>
</div>

