.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #5b5656;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    max-height: 70vh;
    margin: 191px 480px 121px;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    background-color: #a4a0a0;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
      
}
html,body{
  height: 100vh;
  
}

