<!-- <app-header></app-header> -->
    <div class="container">
        <div class="contact-container" >
            <div class="contact-column1">
                <h2>KALARI GURUKULAM</h2>
                <p>102, Maple Meadow<br>
                    Gurukulam Road<br>
                    Chikkagubbi Village, Bengaluru<br>
                    Karnataka 562149</p>
                <p>Phone: 099451 55995</p>
            </div>

            <div class="contact-column1">
                <h2>KALARI ACADEMY OF PERFORMING ARTS</h2>
                <p>25, V N Plaza<br>
                    Bazaar Street<br>
                    Brigade Cross Road, Bengaluru<br>
                    Karnataka 560025</p>
                <p>Phone: 099451 55995</p>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->