
<section class="ct-postfooter ct-u-backgroundMotive ct-u-paddingBoth20">
    <div class="container-fluid">
        <div class="logo" style="color: aliceblue;">
            <img src="../../assets/images/kalari.jpg" alt="Logo">
            Lubaina kalari
          </div>
      
      <ul class="list-unstyled list-inline">
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/our-classes">Classes</a></li>
        <li><a routerLink="/terms-conditions">Terms &amp; Conditions</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/return-policy">Return Policy</a></li>
        <li><a routerLink="/disclaimer">Disclaimer</a></li>
      </ul>
    </div>
    
    <div style="width: 100%; text-align: center; color: #ffffff; margin-top: 20px;">
      Copyright © <a href="https://www.speechlogix.com" target="_blank" style="display: inline; float: none; margin-right: 0px">Speechlogix Technologies</a>. All Right Reserved.
    </div>
  </section>