<!-- <app-header></app-header> -->

<div class="about-header">
    ABOUT KALARIPAYATTU
    <div class="label"><a routerLink="/">HOME</a><a routerLink="/about">ABOUT KALARIPAYATTU</a></div>
</div>
<div class="about_details">
<div class="about-kalaripayattu">
    <h2>ABOUT KALARIPAYATTU</h2>
    
    <p>
        Along with an abundance of nature’s grace and beauty, India has also been bestowed with the wealth of many
        ancient art forms. Kalaripayattu, which is one among them, is the most ancient martial art in the world. It
        incorporates traditional Indian medicine, meditation and yoga. Its slithering sword, Urumi, grabs the limelight
        for its magnificent fighting techniques and movement.
    </p>

    <p>
        Kalaripayattu is the most ancient existing martial art in the world. It is a complete martial arts system that
        combines physical strength, mental acuity, and a disciplined life. It adopts the essence of traditional Indian
        medicine of Ayurveda, meditation, and Yoga. It is a wholesome program towards personal development designed to
        strengthen the body and sharpen the mind.
    </p>

    <h3>Highlights of Kalaripayattu Value to a Learner</h3>
    <p>
        Kalaripayattu not only helps physically, but also to improve the mental health. Kalaripayattu is more like Yoga,
        it helps the practitioner to develop his/her physical skills as well as the inner dimension.
    </p>

    <h3>Heritage Value</h3>
    <p>
        Vedic Period is the origin of Kalaripayattu in India. It is believed that kalaripayattu originated in India
        about 5,000 years ago. In kalari, the mind is disciplined through meditation and the body is aligned and
        strengthened. As per kalari, it is actually the nervous system of the body that affects our health. The nervous
        system gets purified with daily practice and thus keeps our body healthy and strong.
    </p>

    <h3>Cultural Value</h3>
    <p>
        Behind the punches and kicks, there is a lot more to kalaripayattu. More than sports, fighting, or self-defence
        kalaripayattu is about life. It helps to find the essence of your own being and expressing that essence.
    </p>

    <ul>
        <li>As a Performing Art</li>
        <li>As a Martial Art form</li>
        <li>As Physical Fitness – for Health and Wellness</li>
        <li>As a Movement Art</li>
        <li>As a Tool to Strengthen Mental Acuity</li>
    </ul>
</div>


<div class="brief-history">
    <h2>A BRIEF HISTORY OF KALARIPAYATTU</h2>

    <p>
        Our ancestors watched, observed, and learned from their surroundings, mostly animals, their hunting tactics and
        movements. These basic hunting instincts became the foundation of Kalaripayattu movements. Weapons made out of
        the wood from the forests around, and later as the metal was discovered, metal weapons, added strength and power
        to the fighting form. Armed with this repertoire of knowledge, our ancestors honed a system of self-defence that
        emphasized on knowing one’s own body, to control the body, to control the mind, to improve the reflexes, to win
        over, with restraint. The emphasis was not on destruction but to defend and protect oneself from the onslaught
        of enemies.
    </p>

    <p>
        The traditional training of Kalaripayattu is conducted in an enclosure called ‘Kalari’. This enclosure has
        precise dimensions of 42 feet by 21 feet, built of mud and other earthy material to conserve the heat and
        temperature within at all seasons of the year.
    </p>

    <p>
        The Kalari entrance faces east while its south-west corner within features a 7-tiered platform called the
        ‘Poothara.’ Poothara houses the guardian deity of Kalari and its seven tiers. These steps symbolize seven Gods
        and seven abilities each Kalari practitioner aims to acquire. These seven symbols are Vigneswara symbolic of
        Strength, Channiga for Patience, Vishnu for Commanding Power, Vadugashcha for the Posture, Tadaaguru for Perfect
        Training, Kali for the Expression, and the Vakastha Purushu for the Sound.
    </p>
</div>
</div>
<!-- <div class="about-footer">
    <app-footer></app-footer>
</div> -->
